*.class
*.log

# emacs
*~

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Jet Brains IntelliJ

*.iml
.idea/

# Data and app trash
lfr_messages.xml
x.dot
x.svg
x
